/* Body STYLING STARTS HERE */

body {
  background-color: #e3f2fd;
  margin: 0;
  font-family: Optima, sans-serif;
}
/* Body STYLING ENDS HERE */
/* Nav Bar style */
.navbar-brand {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.content h1{
  text-align: center;
}
/* Nav Bar styling ENDS HERE */
/* Styling of CONTENT using Flexbox */
* {
  box-sizing: border-box;
}
/* ---Flexbox Container */
.row {
  display: -webkit-flex;
  display: flex;
  height: auto;
}

.column {
  -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
 padding: 10px;
 height: 350px;
}
/* Styling of CONTENT using Flexbox --ENDS HERE--- */
.content {
  background-color: #e3f2fd;
  padding: 20px;
  height: 420px;
  font-size: 35px;
}
.content h2 {
  font-size: 45px;
  color: black;
  text-align: center;
}


/* RESPONSIVE LAYOUT */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* RESPONSIVE LAYOUT -END--- */
/* STYLING RWOS */

h1 {
  color: white;
  font-size: 55px;
}

h2 {
  color: white;
}

p {
  color: white;
  text-indent: 10px;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}
