/* Body STYLING STARTS HERE */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Optima, sans-serif;
  background-image: url("../img/greenbackground.jpg");
  background-repeat: no-repeat;
}
/* Body STYLING ENDS HERE */

/* Nav Bar style */
.navbar-brand {
    float: left;
    padding: 0px;
    width: 100%;
    font-size: 18px;
}
/* Nav Bar styling ENDS HERE */
/* FLEXBOX STYLING */
.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* RESPONSIVE LAYOUT */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* RESPONSIVE LAYOUT -END--- */
/* STYLING RWOS */
#end-content {
  text-align: center;
}
h1 {
  color: white;
  font-size: 90px;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-size: 50px;
}

p {
  color: white;
  text-align: center;
  text-indent: 10px;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}
