body {
  background-color: black;
}
/* Nav Bar style */
.navbar-brand {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

h1 {
  color: white;
  font-size: 320%;
}


h2 {
  color: white;
}

p {
  color: white;
  text-indent: 10px;
}

img {
  max-width: 100%;
  height: auto;
}
